.input {
  margin: 0.25rem 0 0 0;
  border: 1px solid transparent;
  border-radius: var(--default-radius);
  padding: 0.75rem 0.5rem;
  background-color: var(--grey-color-100);
  color: var(--dark-color-700);
}

[data-theme='dark'] .input {
  color: var(--grey-color);
  background-color: var(--dark-color-400);
}

.inputError {
  border-radius: var(--default-radius);
}

.textarea {
  border: 1px solid transparent;
  border-radius: var(--default-radius);
  padding: 0.75rem 0.5rem;
  background-color: var(--grey-color-100);
}

[data-theme='dark'] .textarea {
  color: var(--grey-color);
  background-color: var(--dark-color-400);
}
