.footerSocialsWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerSocialsLinksWrapper {
  display: flex;
}

.footerSocialsLink {
  margin-inline-start: var(--space-md);
  color: var(--text-strong);
  svg {
    fill: currentColor;
    display: inline;
  }
}
