.project {
  --project-box-bg: hsl(210, 20%, 100%);
  --project-tag-bg: hsl(210, 50%, 97.3%);
  --project-tag-text-color: hsl(210, 20%, 33.6%);
  --project-image-width: 600px;
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem 1rem 1rem;
  background-color: var(--project-box-bg);
  box-shadow: var(--shadow);
  margin: 3rem auto;
  border-radius: var(--default-radius);
}

[data-theme='dark'] .project {
  --project-box-bg: hsl(60, 2.9%, 20.6%);
  --project-tag-bg: hsl(60, 1.9%, 30.4%);
  --project-tag-text-color: hsl(206.7, 11.7%, 90.1%);
}

@media screen and (min-width: 512px) {
  .project {
    max-width: 75%;
  }
}

@media screen and (min-width: 1024px) {
  .project {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: auto;
    padding: 5rem 0;
    max-width: var(--project-image-width);
  }
}

@media screen and (min-width: 1366px) {
  .project {
    flex-direction: row;
    max-width: 1100px;
  }
}

.image {
  max-width: 100%;
  padding: 0;
}

@media screen and (min-width: 1024px) {
  .image {
    max-width: 600px;
    padding: 0 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .content {
    padding: 0 2rem;
  }
}

.title {
  font-size: 1.5rem;
  margin: 1rem 0 0.5rem 0;
  color: var(--dark-color-600);
}

[data-theme='dark'] .title {
  color: var(--white-color);
}

@media screen and (min-width: 1024px) {
  .title {
    font-size: 1.75rem;
  }
}

@media screen and (min-width: 1024px) {
  .title {
    font-size: 1.75rem;
    margin: 0 0 0.5rem 0;
  }
}

.tag {
  padding: 0.25rem 0.5rem;
  border: 0;
  font-size: 0.875rem;
  background-color: var(--project-tag-bg);
  color: var(--project-tag-text-color);
  margin: 0.15rem 0.25rem 0.15rem 0;
  font-weight: 400;
  border-radius: var(--default-radius);
}

.description {
  line-height: 1.5;
  margin: 1rem 0 1rem 0;
  color: var(--dark-color-400);
}

[data-theme='dark'] .description {
  color: var(--grey-color-200);
}

@media screen and (min-width: 1024px) {
  .description {
    max-width: 85%;
  }
}

.footer {
  display: flex;
  align-items: center;
  margin: 0.25rem 0;
}

.footer i {
  font-size: 1.5rem;
}

@media screen and (min-width: 1024px) {
  .footer {
    margin: 0;
  }
}

.link {
  display: flex;
  background-color: var(--primary-color);
  text-transform: capitalize;
  color: var(--dark-color-600);
  padding: 0.5rem 1rem;
  margin: 0 0 0 0;
  font-size: var(--font-size-md);
  box-shadow: var(--shadow);
}

.link svg {
  fill: currentColor;
}

[data-theme='dark'] .link {
  background-color: var(--primary-color);
  color: var(--dark-color-600);
}

@media screen and (min-width: 1024px) {
  .link {
    margin: 0.25rem 0 0 0;
    padding: 0.6rem 1.5rem;
  }
}
