.site-footer{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
  background: $color-secondary;
  padding: 1rem 0;
  @include mQ($bp-large) {
    padding: 2rem 0;
  }

  &__code {
    margin: 0 0.5rem 0 0;
  }

  &__tech {
    display: flex;
  }
}