.site-footer{
  background: $main-bg;
  
  &__text{
    padding: 1rem 2rem;

    &--color{
      color: $light-green;
    }
  }

  &__socials {
    display: flex;
    width: 50%;
    justify-content: space-around;

    @include mQ($bp-xsmall) {
      width: 25%;
    }

    @include mQ($bp-xxlarge) {
      margin: 2rem 0;
      width: 15%;
    }
  }
}