.container {
  padding: 0 1rem;
  @include mQ($bp-xxsmall) {
    padding: 0 2rem;
  }
  @include mQ($bp-small) {
    width: 100%;
    // margin: auto;
    padding: 0 4rem;
  }
  @include mQ($bp-medium) {
    padding: 0 6rem;
  }
  @include mQ($bp-large) {
    padding: 0;
    max-width: 1200px;
    margin: 0 auto;
  }

  @include mQ($bp-xxlarge) {
    max-width: $bp-xlarge;
  }

  &--header {
    @include mQ($bp-xxlarge) {
      margin: auto;
    }
  }

  &--skills {
    max-width: 950px;
  }
}

.container-fluid {
  max-width: $medium-fl;
}
