.header-wrapper {
  background-image: url('/hero.svg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 80vh;
  @include flexColumn;
  color: $black;
  width: 100%;

  @include mQ($bp-small) {
    min-height: 70vh;
    background-size: cover;
  }

  @include mQ($bp-large) {
    min-height: 80vh;
    background-size: 140%;
  }
}
.site-header {
  padding: 0;
  @include flexColumn;
  justify-content: flex-start;
  margin: 4rem 0;
  // margin: 7rem auto;
  // width: 100%;
  // height: auto;
  // flex-wrap: wrap;

  @include mQ($bp-small) {
    margin: 6rem 0;
  }


  a {
    margin: 0 auto;
    margin-bottom: 5rem;

    @include mQ($ipad) {
      margin-bottom: 0;
    }
  }
}
