.dark-mode .header-wrapper {
  background-color: $dark-main-bg;
  background-image: none;
  color: $white;
}

.header-wrapper {
  background-color: $white;
  background-image: url('../images/bg-mobile.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: right;
  min-height: 100vh;
  @include flexColumn;
  color: $color-dark;
  width: 100%;

  @include mQ($bp-small) {
    min-height: 70vh;
    background-size: cover;
  }

  @include mQ($bp-large) {
    min-height: 100vh;
    background-image: url('../images/bg-large.svg');
    background-size: cover;
    background-position: bottom;
  }
}
.site-header {
  @include flexColumn;
  justify-content: flex-start;
  margin: 4rem 0;

  @include mQ($bp-small) {
    margin: 6rem auto;
  }


  a {
    margin: 0 auto;
    margin-bottom: 5rem;

    @include mQ($ipad) {
      margin-bottom: 0;
    }
  }
}
