.hero {
  &__welcome {
    font-size: 1rem;
    font-weight: 300;
    margin: 0.1rem 0;
    @include mQ($bp-small) {
      font-size: 1.1rem;
    }
    @include mQ($bp-large) {
      font-size: 1.1rem;
    }
    @include mQ($bp-xxlarge) {
      font-size: 2.2rem;
    }
  }

  &__name {
    font-size: 1.75rem;
    font-weight: 300;
    margin: 0 0 1rem 0;

    @include mQ($bp-small) {
      font-size: 2.25rem;
    }

    @include mQ($bp-medium) {
      font-size: 3rem;
    }

    @include mQ($bp-large) {
      margin: 0.5rem 0 1rem 0;
      font-size: 3.25rem;
    }

    @include mQ($bp-xxlarge) {
      font-size: 6.5rem;
    }
  }

  &__highlight {
    font-weight: 800;
    letter-spacing: 1px;
  }

  &__description {
    max-width: 90%;
    line-height: 1.5;
    margin: 0.5rem 0 0.5rem 0;
    font-size: 1rem;
    font-weight: 300;
    color: $color-dark-2;
    @include mQ($bp-small) {
      margin: 0.5rem 0 2rem 0;
    }

    @include mQ($bp-medium) {
      max-width: 500px;
      font-size: 1.1rem;
      padding: 0;
      margin: 0 0 1rem 0;
    }

    @include mQ($bp-xxlarge) {
      font-size: 2rem;
    }
  }

  &__btn {
    font-family: $font;
    align-self: flex-start;
    background: $color-primary;
    border: 0;
    color: $color-dark;
    font-weight: normal;
    border-radius: 0.1rem;
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    margin: 3rem 0;
    box-shadow: $light-shadow;
  
    @include mQ($bp-small) {
      padding: 0.5rem 1.25rem;
      font-size: 1.35rem;
    }
  
    @include mQ($bp-medium) {
      margin: 2rem 0;
      padding: 0.5rem 1.5rem;
      font-size: 1.25rem;
    }
  
    @include mQ($bp-large) {
      padding: 0.75rem 2.5rem;
      font-size: 1.1rem;
      margin: 2rem 0;
    }
  
    @include mQ($bp-xxlarge) {
      padding: 1rem 4rem;
      font-size: 2.7rem;
      margin: 4rem 0;
    }
    &:hover {cursor: pointer}
  }
}
