@keyframes menufade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.site-nav {
  display: flex;
  margin: 1.5rem 0;
  padding: 0;
  align-items: center;
  width: auto;
  justify-content: space-between;
  position: relative;

  @include mQ($bp-small) {
    margin: 1.5rem 0;
    justify-content: space-between;
    position: relative;
    align-items: center;
    width: 100%;
  }

  &--socials {
    display: flex;
    justify-content: space-between;
    flex-basis: 25%;
    font-size: 1rem;

    @include mQ($bp-xsmall) {
      flex-basis: 10%;
    }

    @include mQ($bp-medium) {
      flex-basis: 5%;
    }

    @include mQ($bp-xxlarge) {
      font-size: 2rem;
    }
  }
}

.menu-icon {
  font-size: 1rem;
  display: none;
  border: none;
  color: $color-dark;
  background-color: transparent;
  cursor: pointer;
  animation: menufade 0.5s;

  @include mQ($ipad) {
    display: none;
  }
}

.menu-ul {
  display: flex;
  flex-direction: row;
  position: relative;
  height: auto;
  width: auto;
  animation: menufade 0.5s;
}

.menu-item {
  font-size: 1rem;
  font-weight: 400;
  margin: 0 0.5rem;
  cursor: pointer;
  @include mQ($bp-small) {
    margin: 0 1rem;
    font-size: 1.1rem;
  }

  @include mQ($bp-xxlarge) {
    font-size: 2rem;
  }
}

.menu-item svg {
  font-size: 1.1rem;
  color: $black;
  @include mQ($ipad) {
    font-size: 1.4rem;
  }
}

.menu-item:hover {
  text-decoration: underline;
  text-shadow: 0 0 10px $light;
  cursor: pointer;
}
i:hover {
  cursor: pointer;
}
