.site-nav{
  display: flex;
  margin: 2rem 0;
  justify-content: space-between;
  padding: $g-padding;
  position: relative;
  align-items: flex-start;

  @include mQ($medium){
    margin: 2rem 0;
    padding: 0 8rem;
  }

  @include mQ($ipad){
    margin: 2rem 0;
    padding: 0 4rem;
  }
  
  @include mQ($mobile){
    margin: 1rem 0;
    padding: 0 1rem;
  }
}
.site-nav i{
  margin-right: 1rem;

  @include mQ($medium){
    font-size: 2rem;
  }

  @include mQ($ipad){
    font-size: 1.75rem;
  }

  @include mQ($mobile){
    margin-right: 0.5rem;
    font-size: 1.35rem;
  }
}

.menu-icon{
  display: none;

  @include mQ($ipad){
    display: flex;
  }
}

.menu-container{
  display: flex;

  @include mQ($ipad){
    display: none;
  }
}

.menu-ul{
  display: flex;
}

.menu-item{
  margin: 0 1rem;
}

.menu-item a{
  font-size: 1.1rem;
}

.menu-item:hover{
  text-decoration: underline;
  text-shadow: 0 0 10px $light;
}