.dark-mode .projects {
  .project {
    background-color: $dark-color-dark-3;

    &__title {
      color: $white;
    }

    &__tag {
      background-color: $dark-color-dark-4;
      color: $dark-color-dark-2;
    }

    &__description {
      color: $dark-color-dark-1;
    }

    &__btn {
      color: $color-gray-1;
      background-color: $dark-color-dark-4;

      &--link {
        background-color: $color-primary;
        color: $color-dark-1;
      }
    }
  }
} 

.projects {
  background-color: hsl(176.8, 43.9%, 86.5%);
  color: $color-dark-1;
}

.project {
  @include flexColumn;
  padding: 1rem 1rem 1rem 1rem;
  background-color: $color-project;
  box-shadow: $project-shadow;
  margin: 3rem auto;
  border-radius: $default-radius;

  @include mQ($bp-xsmall) {
    max-width: 75%;
  }

  @include mQ($bp-medium) {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: auto;
    padding: 5rem 0;
    max-width: $project-image-width;
  }

  @include mQ($bp-large) {
    flex-direction: row;
    max-width: 1100px;
  }

  @include mQ($bp-xxlarge) {
    max-width: $bp-xlarge;
  }

  &__image {
    max-width: 100%;
    padding: 0;

    @include mQ($bp-medium) {
      max-width: 600px;
      padding: 0 2rem;
    }
    @include mQ($bp-xxlarge) {
      max-width: 50%;
    }
  }

  &__content {
    @include mQ($bp-medium) {
      padding: 0 2rem;
    }
  }

  &__title {
    font-size: 1.5rem;
    margin: 1rem 0 0.5rem 0;
    color: $color-dark-1;
    @include mQ($bp-medium) {
      font-size: 1.75rem;
    }
    @include mQ($ipad) {
      margin: 0 0 0.5rem 0;
    }
    @include mQ($bp-xxlarge) {
      font-size: 3.25rem;
      margin: 0;
    }
  }

  &__tag {
    padding: 0.25rem 0.5rem;
    border: 0;
    font-size: 0.875rem;
    background-color: $color-tag;
    color: $color-tag-text;
    margin: 0.15rem 0.25rem 0.15rem 0;
    font-weight: 400;
    border-radius: $default-radius;

    @include mQ($bp-xxlarge) {
      font-size: 2rem;
    }
  }

  &__description {
    line-height: 1.5;
    margin: 1rem 0 1rem 0;
    color: $color-dark-2;

    &--sources {
      margin: 1rem 0;
    }

    @include mQ($bp-medium) {
      max-width: 85%;
    }
    @include mQ($bp-xxlarge) {
      margin: 2rem 0 4rem 0;
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    margin: 0.25rem 0;
    i {
      font-size: 1.5rem;
    }

    @include mQ($bp-medium) {
      margin: 0;
    }
  }

  &__btn {
    display: inline-flex;
    align-items: center;
    margin: 0 0.5rem 0 0;
    padding: $button-mobile;
    background-color: $color-gray-1;
    color: $color-dark-1;
    font-size: $font-size-regular;
    box-shadow: $light-shadow;
    max-height: 2.5rem;
    @include mQ($ipad) {
      margin: 0.25rem 0.5rem 0 0;
      padding: $button-desktop;
    }
    @include mQ($bp-xxlarge) {
      padding: $button-4k;
    }

    & :hover {
      cursor: pointer;
    }

    &--link {
      display: flex;
      background-color: $color-primary;
      text-transform: capitalize;
      color: $color-dark-1;
      padding: 0.5rem 1rem;
      margin: 0 0 0 0;
      font-size: $font-size-regular;
      box-shadow: $light-shadow;
      @include mQ($ipad) {
        margin: 0.25rem 0 0 0;
        padding: 0.6rem 1.5rem;
      }
      @include mQ($bp-xxlarge) {
        padding: 1rem 2rem;
      }
      svg {
        fill: currentColor;
      }
    }

    svg {
      transform: scale(0.8);
    }
  }
}
