.projects{
  background: $tab-content;
  color: $sec-bg;
}

.section-heading--projects{
  color: $main-bg;
  margin: 2.5rem 0 0.5rem 0;
}

.project-container{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: auto;
  margin: 5rem auto;
  padding: 5rem 0;
  background: $white;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  max-width: 1100px;

  @include mQ($ipad){
    padding: 2.5rem 0;
    display: block;
  }
  @include mQ($mobile){
    padding: 0 0 1rem 0;
  }
}

.project-container.last{
  padding: 5rem 1.6rem;
  @include mQ($ipad){
    padding: 2.5rem 0;
    display: block;
  }
  @include mQ($mobile){
    padding: 0 0 1rem 0;
  }
}

.project-image{
  max-width: 600px;
  padding: 0 2rem;

  @include mQ($ipad){
    max-width: 100%;
    padding: 0;
  }
}

.project-info{
  padding: 0 2rem;
}

.project-title{
  font-size: 2rem;
  @include mQ($ipad){
    margin: 3rem 0;
  }
  @include mQ($mobile){
    margin: 1rem 0;
    font-size: 1.5rem;
  }
}

.project-description{
  margin: 1rem 0 5rem 0;

  &--sources{
    margin: 0.5 0 5rem 0;
  }

  @include mQ($ipad){
    margin: 3rem 0;
  }

  @include mQ($mobile){
    margin: 1rem 0;
  }

}

.project-btn{
  padding: 0.5rem 1rem;
  border: 0;
  font-size: 1rem;
  background: $main-bg;
  color: $light;
  margin: 0.1rem 0;
  @include mQ($ipad){
    padding: 0.75rem 1.25rem;
    font-size: 1.25rem;
  }
  @include mQ($mobile){
    padding: 0.5rem 1rem;
    font-size: 1rem;
    margin: 0.15rem 0;
  }

  &--sources{
    margin: 1rem 0;
  }
  &--link{
    display: block;
    padding: 1rem 1.5rem;
    margin: 2rem 0;
    background: $light-green;
    text-transform: uppercase;
    color: $main-bg;
    @include mQ($ipad){
      padding: 1rem 1.5rem;
      display: block;
      margin: 1rem 0;
    }
    @include mQ($mobile){
      padding: 0.75rem 1.25rem;
      margin: 0.5rem 0;
    }
  }
}

#github-btn:hover{
  cursor: pointer;
}

.project-btn:hover{
  cursor: pointer;
}

.project-btn--link{
  
}

.project-sources{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  margin: 5rem auto;
  padding: 1rem 0;
  background: $white;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  max-width: 1100px;

  @include mQ($ipad){
    padding: 2.5rem 0;
  }
  @include mQ($mobile){
    padding: 0 0 1rem 0;
  }

  &__description{
    text-align: center;
  }
}
