.projects {
  background: $tab-content;
  color: $sec-bg;
}

.section-heading--projects {
  color: #2f4858;
  margin: 2.5rem 0 0.5rem 0;
}

.project-container {
  @include flexColumn;
  padding: 0 0 1rem 0;
  background: $white;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  margin: 5rem auto;

  @include mQ($bp-xsmall) {
    max-width: 75%;
  }

  @include mQ($bp-medium) {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: auto;
    padding: 5rem 0;
    max-width: 600px;
  }

  @include mQ($bp-large) {
    flex-direction: row;
    max-width: 1100px;
  }

  @include mQ($bp-xxlarge) {
    max-width: $bp-xlarge;
  }
}

.project-container.last {
  padding: 3rem 1.6rem;
  @include mQ($ipad) {
    padding: 2.5rem 0;
    display: block;
  }
  @include mQ($mobile) {
    padding: 0 0 1rem 0;
  }
}

.project-image {
  max-width: 100%;
  padding: 0;

  @include mQ($bp-medium) {
    max-width: 600px;
    padding: 0 2rem;
  }
  @include mQ($bp-xxlarge) {
    max-width: 50%;
  }
}

.project {
  padding: 0 1rem;

  @include mQ($bp-medium) {
    padding: 0 2rem;
  }

  &__footer {
    display: flex;
    align-items: center;
    margin: 0.25rem 0;
    i {
      font-size: 1.5rem;
    }

    @include mQ($bp-medium) {
      margin: 0;
    }
  }
}

.project-title {
  font-size: 1.5rem;
  margin: 1rem 0 0.5rem 0;
  color: #2f4858;
  @include mQ($bp-medium) {
    font-size: 1.75rem;
  }
  @include mQ($ipad) {
    margin:  0 0 0.5rem 0;
  }
  @include mQ($bp-xxlarge) {
    font-size: 3.25rem;
    margin: 0;
  }
}

.project-description {
  line-height: 1.5;
  margin: 0.5rem 0 1rem 0;
  color: #505050;

  &--sources {
    margin: 1rem 0;
  }

  @include mQ($bp-medium) {
    max-width: 85%;
  }
  @include mQ($bp-xxlarge) {
    margin: 2rem 0 4rem 0;
  }
}

.project-btn {
  padding: 0.25rem .5rem;
  border: 0;
  font-size: 0.875rem;
  background:  	hsl(0, 0%, 97%);
  color: hsl(0,0%,31.4%);
  margin: 0.15rem 0.25rem 0.15rem 0;
  font-family: $font;
  font-weight: 400;
  border-radius: 2px;

  @include mQ($bp-xxlarge) {
    font-size: 2rem;
  }

  &--source {
    margin: 0 0.5rem 0 0;
    padding: 0.5rem 1rem;
    background: #2f4858;
    color: $light;
    font-size: 1rem;
    @include mQ($ipad) {
      margin: 0.25rem 0.5rem 0 0;
      padding: 0.6rem 1.5rem;
    }
    @include mQ($bp-xxlarge) {
      padding: 1rem 2rem;
    }
  }
  &--sources {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    margin: 1rem 0;
    background: #2f4858;
    color: $light;

    @include mQ($ipad) {
      padding: 0.6rem 1.5rem;
    }
  }
  &--link {
    display: block;
    background: $light-green;
    text-transform: capitalize;
    color: #2f4858;
    padding: 0.5rem 1rem;
    margin: 0 0 0 0;
    font-size: 1rem;
    @include mQ($ipad) {
      display: block;
      margin: 0.25rem 0 0 0;
      padding: 0.6rem 1.5rem;
    }
    @include mQ($bp-xxlarge) {
      padding: 1rem 2rem;
    }
  }
}

#github-btn:hover {
  cursor: pointer;
}

.project-btn--sources:hover {
  cursor: pointer;
}

.project-btn--link:hover {
  cursor: pointer;
}

.project-sources {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  margin: 5rem auto;
  padding: 1rem 0;
  background: $white;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  

  @include mQ($bp-small) {
    max-width: 75%;
  }

  @include mQ($bp-large) {
    padding: 5rem 0;
    align-items: center;
    max-width: 1100px;
  }

  @include mQ($bp-xxlarge) {
    max-width: $bp-xlarge;
  }

  &__description {
    text-align: left;
    max-width: 70%;
  }
}
