.dark-mode .section {
  background-color: $dark-color-dark-0;

  &__heading {
    color: $white;
  }

  &__quote {
    color: $dark-color-dark-1;
  }

  &__description {
    color: $dark-color-dark-1;
  }
}

.section {
  padding: 2rem 0;
  background-color: $color-gray;
  display: flex;
  justify-content: center;

  &__heading {
    text-transform: uppercase;
    text-align: center;
    color: $color-dark;
    font-size: 1.75rem;
    margin: 2rem 0 .5rem 0;


    @include mQ($bp-small) {
      font-size: 2rem;
    }

    @include mQ($bp-medium) {
      font-size: 2.25rem;
    }

    @include mQ($bp-xxlarge) {
      font-size: 4rem;
      margin: 5rem 0 10rem 0;
    }
  }

  &__quote {
    font-style: italic;
    margin: 1rem auto 3rem auto;
    text-align: center;
    line-height: 1.5;

    &__author {
      font-style: normal;
      font-weight: 800;
      margin: 0.5rem 0 0 0;
    }
  }

  &__description {
    text-align: center;
    font-size: $font-size-regular;
    color: $color-dark-1;

    @include mQ($bp-small) {
      font-size: 1.25rem;
    }

    @include mQ($bp-xxlarge) {
      font-size: 2.5rem;
    }
  }

  &--skills {
    @include mQ($bp-xsmall) {
      padding: 2rem 2rem;
    }

    @include mQ($bp-small) {
      padding: 2rem 4rem;
    }

    @include mQ($bp-medium) {
      padding: 2rem 0;
    }
  }
}
