.section {
  padding: 2rem 0;
  background: $main-bg;
  display: flex;
  justify-content: center;

  &__heading {
    text-transform: uppercase;
    text-align: center;
    color: $light-mint;
    font-size: 1.75rem;
    margin: 2.5rem 0 5rem 0;


    @include mQ($bp-small) {
      font-size: 2.25rem;
    }

    @include mQ($bp-medium) {
      font-size: 3rem;
    }


    &--projects {
      color: $main-bg;
      margin: 2.5rem 0 0.5rem 0;
    }

    &--contact {
      margin: 2.5rem 0 0 0;
    }
  }

  &__quote {
    font-style: italic;
    margin: 3rem 1rem;
    text-align: center;
    line-height: 1.5;
  }

  &__quote-author {
    font-style: normal;
    font-weight: bold;
    margin-top: 1rem;
  }

  &__description {
    text-align: center;
    font-size: 1rem;
    font-weight: lighter;

    @include mQ($bp-small) {
      font-size: 1.25rem;
    }
  }

  &--skills {
    @include mQ($bp-xsmall) {
      padding: 2rem 2rem;
    }

    @include mQ($bp-small) {
      padding: 2rem 4rem;
    }

    @include mQ($bp-medium) {
      padding: 2rem 0;
    }
  }
}
