.siteNav {
  display: flex;
  flex-direction: column;
  margin: var(--space-md) 0;
  padding: 0;
  align-items: center;
  width: auto;
  justify-content: space-between;
  position: relative;
  gap: var(--space-sm);

  @media screen and (min-width: 520px) {
    justify-content: space-between;
    flex-direction: row;
    position: relative;
    align-items: center;
    width: 100%;
  }
}

.socials {
  display: flex;
  justify-content: space-between;
  flex-basis: 25%;
  font-size: var(--font-size-md);
}

.menuList {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  height: auto;
  width: auto;
}
