.articleWrapper {
  max-width: 80rem;
  margin-top: var(--space-lg);
  margin-bottom: var(--space-lg);

  @media screen and (min-width: 520px) {
    margin-top: var(--space-5xl);
    margin-bottom: var(--space-5xl);
  }
}
