.container {
  max-width: 950px;
  margin: auto;
}

.tabHeadersWrapper {
  list-style: none;
  display: block;
}

@media screen and (min-width: 1024px) {
  .tabHeadersWrapper {
    display: flex;
  }
}

.activeContentTab {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--white-color);
  animation: activefade 2s;
}

[data-theme='dark'] .activeContentTab {
  background-color: var(--dark-color-600);
  color: var(--white-color);
}

@media screen and (min-width: 1024px) {
  .activeContentTab {
    margin-bottom: 5rem;
    flex-wrap: nowrap;
    height: auto;
  }
}

@keyframes activefade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
