.dark-mode .tab-header {
  &__item {
    color: var(--white-color);
    background-color: var(--dark-color-600);

    &:hover {
      color: var(--dark-color-700);
    }
  }

  &--active {
    color: var(--dark-color-700);
    background-color: var(--primary-color);
    .tab-header__content {
      color: var(--grey-color-600);

      &:hover {
        color: var(--grey-color-600);
      }
    }
  }

  &__content {
    color: var(--grey-color);

    &:hover {
      color: var(--dark-color-700);
    }
  }

  .tab-item {
    color: var(--grey-color);
    &:hover {
      color: var(--grey-color-600);
    }
  }
}

.dark-mode .active-tab {
  background-color: var(--dark-color);
  color: var(--white-color);
}

.dark-mode .tab-item {
  color: var(--grey-color);
}

.tabHeadersWrapper {
  list-style: none;
  display: block;
}

@media screen and (min-width: 1024px) {
  .tabHeadersWrapper {
    display: flex;
  }
}

.activeContentTab {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--white-color);
  animation: activefade 2s;
}

@media screen and (min-width: 1024px) {
  .activeContentTab {
    margin-bottom: 5rem;
    flex-wrap: nowrap;
    height: auto;
  }
}

@keyframes activefade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

