.container {
  padding: 0 1rem;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    padding: 0 3rem;
  }
}