.footer {
  margin-top: auto;
  border-top: 1px solid var(--border-subtle);
  color: var(--text-color);
}

.footerWrapper {
  margin: auto;
  padding: var(--space-lg);
}

.footerContent {
  display: flex;
  justify-content: center;
  columns: 2;
}

@media screen and (min-width: 1366px) {
  .footer {
    padding: var(--space-md) 0 var(--space-md) 0;
  }
}

.footerText {
  align-items: center;
  margin: var(--space-sm) 0 var(--space-sm) 0;
}

.footerText svg {
  color: var(--text-strong);
  fill: currentColor;
}

.footerCode {
  margin: 0 var(--space-sm) 0 0;
}

.footerHearth {
  margin: 0 var(--space-xs);
}

.footerTech {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}

.footerLogo {
  margin: 0 0 0 var(--space-sm);
}
