.footer {
  margin-top: auto;
  border-top: 1px solid var(--grey-color-200);
  color: var(--text-color);
}

[data-theme='dark'] .footer {
  border-color: var(--dark-color-400);
}

.footerWrapper {
  margin: auto;
  padding: 2rem;
}

.footerContent {
  display: flex;
  justify-content: center;
  columns: 2;
}

@media screen and (min-width: 1366px) {
  .footer {
    padding: 1rem 0 1rem 0;
  }
}

.footerText {
  align-items: center;
  margin: 0.5rem 0 0.5rem 0;
}

.footerText svg {
  color: var(--black-color);
  fill: currentColor;
}

.footerCode {
  margin: 0 0.5rem 0 0;
}

.footerHearth {
  margin: 0 0.25rem;
}

.footerTech {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}

.footerLogo {
  margin: 0 0 0 0.5rem;
}
