.form {
  display: flex;
  flex-direction: column;
}

.footer {
  display: flex;
  justify-content: space-around;
}

.hidden {
  display: none;
}

.btnSubmit {
  margin: 1rem 0 0 0;
  justify-content: center;
  flex: 100%;
}