.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--white-color);
  background-image: url('./bg-mobile.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: right;
  color: var(--black-color);
}

[data-theme='dark'] .wrapper {
  background-color: var(--dark-color-800);
  background-image: none;
  color: var(--white-color);
}

@media screen and (min-width: 1366px) {
  .wrapper {
    background-image: none;
  }
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 4rem 0;
}

.heroWelcome {
  font-size: 1rem;
  font-weight: 300;
  margin: 0.1rem 0;
}

@media screen and (min-width: 768px) {
  .heroWelcome {
    font-size: 1.1rem;
  }
}

.heroName {
  font-size: 1.75rem;
  font-weight: 300;
  margin: 0 0 1rem 0;
}

@media screen and (min-width: 768px) {
  .heroName {
    font-size: 2.25rem;
  }
}

@media screen and (min-width: 1024px) {
  .heroName {
    font-size: 3rem;
  }
}

@media screen and (min-width: 1366px) {
  .heroName {
    margin: 0.5rem 0 1rem 0;
    font-size: 3.25rem;
  }
}

.heroHighlight {
  font-weight: 800;
  letter-spacing: 1px;
}

.heroDescription {
  max-width: 90%;
  line-height: 1.5;
  margin: 0.5rem 0 0.5rem 0;
  font-size: 1rem;
  font-weight: 300;
  color: var(--dark-color-400);
}

[data-theme='dark'] .heroDescription {
  color: var(--grey-color);
}

@media screen and (min-width: 768px) {
  .heroDescription {
    margin: 0.5rem 0 2rem 0;
  }
}

@media screen and (min-width: 1024px) {
  .heroDescription {
    max-width: 500px;
    font-size: 1.1rem;
    padding: 0;
    margin: 0 0 1rem 0;
  }
}

.heroBtn {
  align-self: flex-start;
  margin: 3rem 0;
}

@media screen and (min-width: 1024px) {
  .heroBtn {
    margin: 2rem 0;
  }
}

@media screen and (min-width: 1366px) {
  .heroBtn {
    margin: 2rem 0;
  }
}

.heroBtn:hover {
  cursor: pointer;
}
