.devBiteHeader {
  h2 {
    font-size: var(--font-size-4xl);
    letter-spacing: -0.025em;
    line-height: 3rem;
    color: var(--heading-color);

    @media screen and (min-width: 520px) {
      font-size: var(--font-size-5xl);
    }
  }
}
