.devBiteItemWrapper {
  border-radius: 0.5rem;
  transition: all 0.3s ease 0s;
  max-width: 37rem;
}

.devBiteItemLink {
  position: relative;
  display: block;
  text-decoration: none;
}

.devBiteMeta {
  margin-bottom: 0.5rem;
}

.devBiteDate {
  font-size: 0.75rem;
  line-height: 1rem;
  color: var(--dark-color-300);
}

[data-theme='dark'] .devBiteDate {
  color: var(--grey-color-200);
}

.devBiteItemTitle {
  display: flex;
  align-items: baseline;
  gap: 0.875rem;
  font-size: 1.125rem;
  line-height: 1.5;
  color: var(--heading-color);
}

.devBiteItemExcerpt {
  margin-top: 1rem;
  line-height: 1.5rem;
  font-size: 0.875rem;
}

.devBiteItemReadMore {
  display: inline-block;
  margin-top: 0.5rem;
  font-size: 0.875rem;
  font-weight: 600;
}
