.devBiteItemWrapper {
  border-radius: 0.5rem;
  max-width: 37rem;
}

.devBiteItemLink {
  position: relative;
  display: block;
  text-decoration: none;
}

.devBiteMeta {
  display: flex;
  align-items: center;
  gap: var(--space-md);
  margin-bottom: var(--space-sm);
}

.devBiteDate {
  font-size: var(--font-size-xs);
  line-height: 1rem;
  color: var(--text-meta);
}

.devBiteItemTitle {
  display: flex;
  align-items: baseline;
  gap: var(--space-md);
  font-size: var(--font-size-lg);
  line-height: 1.5;
  color: var(--heading-color);
}

.devBiteItemExcerpt {
  margin-top: var(--space-md);
  line-height: 1.5rem;
  font-size: var(--font-size-sm);
}

.devBiteItemReadMore {
  display: inline-block;
  margin-top: var(--space-sm);
  font-size: var(--font-size-sm);
  font-weight: 600;
}
