@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }

  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

.errorBox {
  padding: 0.5rem 0.75rem;
  margin: 0.5rem 0;
}

.errorMessage {
  composes: errorBox;
  animation: pulse 0.5s;
  border-left: 5px solid var(--error-box-text-color);
  border-radius: var(--default-radius);
  background-color: var(--error-box-color);
  color: var(--error-box-text-color);
}
