.ol {
  list-style-type: decimal;
  list-style-position: outside;
  margin-left: var(--space-md);
  margin-top: var(--space-md);
  margin-bottom: var(--space-md);
  padding: 0;
  color: var(--text-color);
}

.li {
  margin-bottom: var(--space-md);
}

.title {
  font-weight: 600;
  color: var(--heading-color);
  margin-bottom: var(--space-xs);
  line-height: 2;
}

.status {
  font-weight: 400;
  margin-inline-start: var(--space-xs);
  font-size: var(--font-size-sm);
  color: var(--primary-800);
}

.preview {
  font-size: var(--font-size-sm);
  color: var(--text-color);
  margin-bottom: var(--space-sm);
  line-height: 1.25;
}

.link {
  display: block;
}
