.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin: auto;
  gap: var(--space-2xl);
  margin-top: var(--space-xl);
  margin-bottom: var(--space-3xl);

  @media screen and (min-width: 520px) {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    margin-top: var(--space-xl);
    margin-bottom: var(--space-4xl);
  }
}

.gridOrientationVertical {
  grid-template-columns: 1fr;
}
