@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");
html, body, ul, ol {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  display: flex;
  flex-wrap: wrap; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0; }

a {
  text-decoration: none;
  color: inherit; }

button:focus {
  outline: none; }

img {
  max-width: 100%;
  height: auto;
  display: block; }

body * {
  box-sizing: border-box; }

textarea {
  padding: 0;
  border: 0; }

body {
  background: #22252c;
  color: #ffffff;
  font-size: 16px;
  font-family: "Open Sans";
  width: 100vw;
  display: flex;
  flex-direction: column; }

.header-wrapper {
  background: linear-gradient(to right, #16d395, #19d5cc); }

.site-header {
  width: 100vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0 15rem;
  justify-content: center; }
  @media screen and (max-width: 1250px) {
    .site-header {
      padding: 0 8rem;
      height: 50vh;
      margin: 2rem 0; } }
  @media screen and (max-width: 768px) {
    .site-header {
      padding: 0 4rem;
      height: 50vh;
      margin: 1rem 0; } }
  @media screen and (max-width: 500px) {
    .site-header {
      padding: 0 2rem;
      margin: 1rem 0; } }

.site-nav {
  display: flex;
  margin: 2rem 0;
  justify-content: space-between;
  padding: 0 15rem; }
  @media screen and (max-width: 1250px) {
    .site-nav {
      margin: 2rem 0;
      padding: 0 8rem; } }
  @media screen and (max-width: 768px) {
    .site-nav {
      margin: 2rem 0;
      padding: 0 4rem; } }
  @media screen and (max-width: 500px) {
    .site-nav {
      margin: 1rem 0;
      padding: 0 1rem; } }

.site-nav i {
  margin-right: 1rem; }
  @media screen and (max-width: 1250px) {
    .site-nav i {
      font-size: 2rem; } }
  @media screen and (max-width: 768px) {
    .site-nav i {
      font-size: 1.75rem; } }
  @media screen and (max-width: 500px) {
    .site-nav i {
      margin-right: 0.5rem;
      font-size: 1.5rem; } }

.hero-heading {
  font-size: 5.5rem;
  font-weight: 300;
  margin: 0.1rem 0; }
  @media screen and (max-width: 1250px) {
    .hero-heading {
      font-size: 3.5rem; } }
  @media screen and (max-width: 768px) {
    .hero-heading {
      font-size: 3rem; } }
  @media screen and (max-width: 500px) {
    .hero-heading {
      font-size: 2.75rem; } }

.hero-subheading {
  font-size: 4.25rem;
  font-weight: 300;
  margin: 0; }
  @media screen and (max-width: 1250px) {
    .hero-subheading {
      font-size: 3rem; } }
  @media screen and (max-width: 768px) {
    .hero-subheading {
      font-size: 2.25rem; } }
  @media screen and (max-width: 500px) {
    .hero-subheading {
      font-size: 1.80rem; } }

.hero-subheading strong {
  letter-spacing: 0.2rem; }

.hero-description {
  font-size: 1.75rem;
  font-weight: 300;
  margin: 0;
  padding-bottom: 10rem;
  color: #eeeeee; }
  @media screen and (max-width: 1250px) {
    .hero-description {
      font-size: 2rem; } }
  @media screen and (max-width: 768px) {
    .hero-description {
      font-size: 1.5rem;
      padding: 0.5rem 0 6rem 0; } }
  @media screen and (max-width: 500px) {
    .hero-description {
      padding-bottom: 0;
      padding: 0.5rem 0 2.5rem 0;
      font-size: 1.25rem; } }

.btn-my-work {
  border: 0.05rem solid #ffffff;
  align-self: center;
  background: #ffffff;
  color: #16d395;
  border-radius: 0.2rem;
  font-family: 'Open Sans';
  padding: 0.75rem 1.75rem;
  font-size: 1.35rem; }
  @media screen and (max-width: 1250px) {
    .btn-my-work {
      padding: 0.75rem 1.25rem;
      font-size: 1.25rem; } }
  @media screen and (max-width: 768px) {
    .btn-my-work {
      padding: 0.75rem 1.55rem;
      font-size: 1.25rem; } }
  @media screen and (max-width: 500px) {
    .btn-my-work {
      padding: 0.5rem 1rem;
      font-size: 1.1rem; } }

.btn-my-work:hover {
  cursor: pointer;
  box-shadow: 0px 0px 2rem #eeeeee; }

.section {
  padding: 2rem 4rem; }

.section-heading {
  text-transform: uppercase;
  text-align: center;
  color: #19d5cc;
  font-size: 3rem; }

.site-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .site-footer .footer-socials {
    padding: 1rem; }
    .site-footer .footer-socials a i {
      margin: 1rem;
      font-size: 1.5rem; }
