.articleItemWrapper {
  border-radius: 0.5rem;
  transition: all 0.3s ease 0s;
  max-width: 37rem;
}

.articleItemLink {
  position: relative;
  display: block;
  text-decoration: none;
}

.articleMeta {
  margin-bottom: 0.5rem;
}

.articleDate {
  font-size: 0.75rem;
  line-height: 1rem;
  color: var(--dark-color-300);
}

[data-theme='dark'] .articleDate {
  color: var(--grey-color-200);
}

.articleItemTitle {
  display: flex;
  align-items: baseline;
  gap: 0.875rem;
  font-size: 1.125rem;
  line-height: 1.5;
  color: var(--heading-color);
}

.articleItemExcerpt {
  margin-top: 1rem;
  line-height: 1.5rem;
  font-size: 0.875rem;
}
