.badge {
  padding: var(--space-xs) var(--space-sm);
  color: var(--text-color);
  font-size: var(--font-size-xs);
  font-weight: 500;
  line-height: 1;
  border-radius: 0.25rem;
}

.badgePrimary {
  background-color: var(--primary-100);
  color: var(--primary-800);
}

.badgeSecondary {
  background-color: var(--secondary-100);
  color: var(--secondary-900);
}
