.badge {
  padding: 0.25rem 0.5rem;
  color: var(--text-color);
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1;
  border-radius: 0.25rem;
}

.badgePrimary {
  background-color: var(--primary-color-100);
  color: var(--primary-color-800);
}

.badgeSecondary {
  background-color: var(--secondary-color-100);
  color: var(--secondary-color-900);
}
