.heading {
  margin-bottom: 1em;
  position: relative;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      a {
        opacity: 0.9;

        svg {
          stroke: currentColor;
        }
      }
    }
  }
}

.h1 {
  font-size: var(--font-size-3xl);
  color: var(--heading-color);
}

.h2 {
  font-size: var(--font-size-2xl);
  line-height: 1.75rem;
  margin-top: var(--space-xl);

  color: var(--heading-color);
}

.h3 {
  font-size: var(--font-size-xl);
  margin-top: var(--space-xl);
  margin-bottom: var(--space-md);
}

.headingLink {
  margin-bottom: 0 !important;
  color: var(--heading-color);
  display: flex;
  flex-direction: column;
  -moz-box-pack: center;
  justify-content: center;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: auto;
  transform: translateX(-150%);
  transition: opacity 150ms ease-out;
  opacity: 0;
  scroll-margin-top: 20rem;
  border: 0;
  background-color: transparent;
  box-shadow: none;

  &:hover {
    cursor: pointer;
  }

  &:focus-visible {
    opacity: 0.9;

    svg {
      stroke: currentColor;
    }
  }
}
