.heading {
  margin-bottom: 1em;
  position: relative;

  h2 {
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-top: 5rem;

    color: var(--heading-color);
  }
}

.anchor {
  color: inherit;
  display: flex;
  flex-direction: column;
  -moz-box-pack: center;
  justify-content: center;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: auto;
  transform: translateX(-150%);
  transition: opacity 250ms;
  opacity: 0;
  scroll-margin-top: 128px;

  &:hover {
    cursor: pointer;
  }
}
