@import 'variables';
@import 'reset';
@import 'mixins.scss';

body{
  background: $main-bg;
  color: $white;
  font-size: 16px;
  font-family: $font;
  width: 100vw;
  display: flex;
  flex-direction: column;
}
.header-wrapper{
  background: linear-gradient(to right, $light-green, $light-mint);
}
.site-header{
  width: 100vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: $g-padding;
  justify-content: center;
  @include mQ($medium){
    padding: 0 2rem;
    height: 55vh;
    margin: 2rem 0;
  }
  @include mQ($ipad){
    padding: 0 2rem;
    height: 55vh;
    margin: 1rem 0;
  }
  @include mQ($mobile){
    padding: 0 2rem;
    margin: 1rem 0;
    height: 55vh;
  }
}
.site-nav{
  display: flex;
  margin: 2rem 0;
  justify-content: space-between;
  padding: $g-padding;
  @include mQ($medium){
    margin: 2rem 0;
    padding: 0 2rem;
  }
  @include mQ($mobile){
    margin: 1rem 0;
    padding: 0 1rem;
  }
}
.site-nav i{
  margin-right: 1rem;
  @include mQ($medium){
    font-size: 2rem;
  }
  @include mQ($medium){
    margin-right: 1rem;
    font-size: 2.5rem;
  }
  @include mQ($mobile){
    margin-right: 0.5rem;
  }
}
.hero-heading{
  font-size: 6rem;
  font-weight: 300;
  margin: 0.1rem 0;
  @include mQ($medium){
    font-size: 3.5rem;
  }
  @include mQ($ipad){
    font-size: 3rem;
  }
  @include mQ($mobile){
    font-size: 2.75rem;
  }
}
.hero-subheading{
  font-size: 4.5rem;
  font-weight: 300;
  margin: 0;
  @include mQ($medium){
    font-size: 3rem;
  }
  @include mQ($ipad){
    font-size: 2.25rem;
  }
  @include mQ($mobile){
    font-size: 1.80rem;
  }
}
.hero-subheading strong{
  letter-spacing: 0.2rem;
}
.hero-description{
  font-size: 1.75rem;
  font-weight: 300;
  margin: 0;
  padding-bottom: 10rem;
  @include mQ($medium){
    font-size: 2rem;
  }
  @include mQ($ipad){
    padding-bottom: 2rem;
    font-size: 1.5rem;
  }
  @include mQ($mobile){
    padding-bottom: 1rem;
    font-size: 1.35rem;
  }
}
