@import 'reset';
@import 'variables';
@import 'mixins.scss';

body{
  background: $main-bg;
  color: $white;
  font-size: 16px;
  font-family: $font;
  display: flex;
  flex-direction: column;
}
.header-wrapper{
  background-image: $gradient;
  background-size: cover; 
  background-position: center;
}
.site-header{
  width: 100vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: $g-padding;
  justify-content: center;

  @include mQ($medium){
    padding: 0 8rem;
    height: 50vh;
    margin: 2rem 0;
  }

  @include mQ($ipad){
    padding: 0 4rem;
    height: 50vh;
    margin: 1rem 0;
  }

  @include mQ($mobile){
    padding: 0 2rem;
    margin: 1rem 0;
  }
  a{
    align-self: center;
  }
}
.site-nav{
  display: flex;
  margin: 2rem 0;
  justify-content: space-between;
  padding: $g-padding;

  @include mQ($medium){
    margin: 2rem 0;
    padding: 0 8rem;
  }

  @include mQ($ipad){
    margin: 2rem 0;
    padding: 0 4rem;
  }
  
  @include mQ($mobile){
    margin: 1rem 0;
    padding: 0 1rem;
  }
}
.site-nav i{
  margin-right: 1rem;

  @include mQ($medium){
    font-size: 2rem;
  }

  @include mQ($ipad){
    font-size: 1.75rem;
  }

  @include mQ($mobile){
    margin-right: 0.5rem;
    font-size: 1.35rem;
  }
}
.hero-heading{
  font-size: 5.5rem;
  font-weight: 300;
  margin: 0.1rem 0;

  @include mQ($medium){
    font-size: 3.5rem;
  }

  @include mQ($ipad){
    font-size: 3rem;
  }

  @include mQ($mobile){
    font-size: 2.75rem;
  }
}
.hero-subheading{
  font-size: 4.25rem;
  font-weight: 300;
  margin: 0;

  @include mQ($medium){
    font-size: 3rem;
  }

  @include mQ($ipad){
    font-size: 2.25rem;
  }

  @include mQ($mobile){
    font-size: 1.75rem;
  }
}
.hero-subheading strong{
  letter-spacing: 0.2rem;

  @include mQ($mobile){
    letter-spacing: 0.1rem;
  }
}
.hero-description{
  font-size: 1.75rem;
  font-weight: 300;
  margin: 0;
  padding-bottom: 10rem;
  color: $light;

  @include mQ($medium){
    font-size: 2rem;
  }

  @include mQ($ipad){
    font-size: 1.5rem;
    padding: 0.5rem 0 6rem 0;
  }

  @include mQ($mobile){
    padding-bottom: 0;
    padding: 0.5rem 0 2.5rem 0;
    font-size: 1.25rem;
  }

}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.btn-my-work{
  border: 0.05rem solid $white;
  background: $white;
  color: $light-green;
  border-radius: 0.2rem;
  font-family: 'Open Sans';
  padding: 0.75rem 1.75rem;
  font-size: 1.35rem;
  opacity: 0;
  font-weight: bold;

/* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;

  @include mQ($medium){
    padding: 0.75rem 1.25rem;
    font-size: 1.25rem;
  }

  @include mQ($ipad){
    padding: 1rem 1.75rem;
    font-size: 1.35rem;
  }

  @include mQ($mobile){
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
  }
}
.btn-my-work:hover{
  cursor: pointer;
  box-shadow: 0px 0px 2rem $light;
}
.section{
  padding: 2rem 4rem;

  @include mQ($mobile){
    padding: 2rem;
  }
}
.section-heading{
  text-transform: uppercase;
  text-align: center;
  color: $light-mint;
  font-size: 3rem;
  margin: 2.5rem 0;

  @include mQ($medium){
    font-size: 2.5rem;
  }

  @include mQ($ipad){
    font-size: 2.25rem;
  }

  @include mQ($mobile){
    font-size: 1.75rem;
  }
}
.about{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section p{
  max-width: 70vw;

  @include mQ($ipad){
    font-size: 1.35rem;
  }

  @include mQ($mobile){
    font-size: 1rem;
    max-width: 80vw;
  }
}

.skills{
  i{
    font-size: 8rem;

    @include mQ($medium){
      font-size: 8rem;
    }

    @include mQ($mobile){
      font-size: 4.5rem;
    }

  }
  .row{
    display: flex;
    flex-wrap: wrap;

    .skills-technology{
      display: flex;
      margin: 2rem 0;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      font-size: 1.4rem;
      flex-basis: 33%;

      @include mQ($medium){
        flex-basis: 33%;
        font-size: 1.5rem;
      }

      @include mQ($ipad){
        flex-basis: 50%;
      }

      @include mQ($mobile){
        flex-basis: 50%;
        font-size: 1.3rem;
      }

      span{
        margin: 2rem 0;
      }

    }
  }
}

.contact{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
  form{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    width: 70vw;
    @include mQ($ipad){
      margin-top: 3rem;
    }
    @include mQ($mobile){
      width: 80vw;
      margin-top: 2rem;
    }
  }
  textarea, input{
    border-bottom: 0.1rem solid $light-mint;
    color: $light;
    font-size: 1rem;
    padding: 1rem 0;
  }
  .send{
    display: flex;
    border: 0.05rem solid $light-mint;
    background: transparent;
    color: $light-mint;
    padding: 0.75rem 4rem;
    font-size: 1rem;
    font-family: 'Open Sans';
    text-transform: uppercase;
    align-self: center;
    margin-top: 4rem;
    @include mQ($mobile){
      padding: 0.5rem 3rem;
      margin-top: 2rem;
    }
  }
  .send:hover{
    color: $main-bg;
    background: $light-mint;
    cursor: pointer;
    border: 0.05rem solid $main-bg;
  }
}

.site-footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .footer-socials{
    padding: 1rem;

    a i{
      margin: 1rem;
      font-size: 1.5rem;
    }
  }
}