html, body, ul, ol{
  padding: 0;
  margin: 0;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
  color: inherit;
}
img{
  max-width: 100%;
  height: auto;
  display: block;
}
body *{
  box-sizing: border-box;
}