html, body, ul, ol{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  flex-wrap: wrap;
}
ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
h1,h2,h3,h4,h5,h6{
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}
a{
  text-decoration: none;
  color: inherit;
}
button:focus{
  outline: none;
}
img{
  max-width: 100%;
  height: auto;
  display: block;
}
body *{
  box-sizing: border-box;
}
textarea{
  padding: 0;
  border: 0;
}