@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

$light-green: rgba(22, 211, 149, 0.9);
$light-mint: rgba(63, 224, 216, 0.9);
$light-green-hex: #16d395;
$light-mint-hex: #3fe0d8; 
$white: #ffffff;
$light: #eeeeee;
$black: #000000;
$main-bg: #22252c;
$sec-bg: #313741;
$about-bg: #3c414d;
$tab-header: #2d313a;
$tab-content: #e9eaee;
$venus-mist: #5f636e;

//devices

$phablet: 400px;
$mobile: 500px;
$nexus: 600px;
$ipad: 900px;
$medium: 1280px;
$HiDPILaptop: 1440px;

//breakpoints
$iphoneSE: 320px;
$bp-xxsmall: 21.875rem; // 350px
$bp-xsmall: 32rem; // 512px
$bp-small: 48rem; // 768px
$bp-medium: 64rem; // 1024px
$bp-large: 85.375rem; // 1366px
$bp-xlarge: 120rem; // 1920px
$bp-xxlarge: 165.625rem; // 2560px
$xs: 540px;
$md: 720px;
$lg: 960px;
$xxl: 1140px;

//container fluid
$medium-fl: 1460px;

$gradient: linear-gradient(to right, $light-green, $light-mint);

$font: 'Open Sans', sans-serif;
$base-font-size: 1rem;
//$font-dec: 'Basier Circle Regular';
$g-padding: 0 15rem;