.alert {
  padding: var(--space-md);
  border-radius: 0.25rem;

  p {
    margin: 0;
  }
}

.alertMarginBottomSmall {
  margin-bottom: var(--space-md);
}

.alertMarginBottomMedium {
  margin-bottom: var(--space-lg);
}

.alertMarginBottomLarge {
  margin-bottom: var(--space-xl);
}

.alertContainer {
  display: flex;
}

.alertIcon {
  flex-shrink: 0;
  margin-inline-end: var(--space-sm);
  line-height: 1;
}
.alertContent {
  flex: 1;
}

.alertInfo {
  background-color: var(--info-100);

  svg {
    fill: var(--info-700);
  }

  p {
    color: var(--info-700);
  }
}

.alertDanger {
  background-color: var(--danger-100);

  svg {
    fill: var(--danger-700);
    stroke: transparent;
  }

  p {
    color: var(--danger-700);
  }
}
