.siteNav {
  display: flex;
  margin: 1.5rem 0;
  padding: 0;
  align-items: center;
  width: auto;
  justify-content: space-between;
  position: relative;

  @media screen and (min-width: var(--bp-xsmall)) {
    margin: 1.5rem 0;
    justify-content: space-between;
    position: relative;
    align-items: center;
    width: 100%;
  }
}

.socials {
  display: flex;
  justify-content: space-between;
  flex-basis: 25%;
  font-size: 1rem;

  @media screen and (min-width: var(--bp-xxsmall)) {
    flex-basis: 10%;
  }

  @media screen and (min-width: var(--bp-xxsmall)) {
    flex-basis: 5%;
  }
}

.menuList {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  height: auto;
  width: auto;
}
