.notFound {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  color: var(--text-strong);
  height: 100%;
}

@media screen and (min-width: 1024px) {
  .notFound {
    margin: var(--space-lg);
  }
}

.title {
  font-size: var(--font-size-4xl);
}

.linksWrapper {
  margin: var(--space-lg);
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
}

@media screen and (min-width: 1024px) {
  .linksWrapper {
    flex-direction: row;
    gap: var(--space-lg);
  }
}

.text {
  margin: var(--space-md) 0;
}

.link {
  color: var(--text-strong);
}
