.visuallyHidden:not(:focus):not(:active) {
  /* Source: https://www.joshwcomeau.com/snippets/react-components/visually-hidden/ */
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
}